/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 10, 2016, 9:47:45 AM
    Author     : chameera
*/

 .navbar .nav > li > a > .label {
    font-size: 9px;
    line-height: 0.9;
    padding: 3px 4px;
    position: absolute;
    right: 7px;
    text-align: center;
    top: 9px;
}

.stats-item a{
    color: #FFFFFF;
}

.stats-item a:hover{
    text-decoration: none;
}
 
.bg-error{
    background-color: red;
}

.panel-content{
    /**overflow-x: scroll;*/
    
}