/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 10, 2016, 10:20:16 AM
    Author     : chameera
*/
.internal_message {
    clear: both;
    max-width: 80%; 
    min-width: 70%;
}

.my-message{    
    float: left;
}

.other-message{
    float: right;    
}

.unread-message{
    float: right;    
}

.message-time{
    float: right;
}
